{% extends "auth/auth_base.html" %}
{% block body %}

<div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
            <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
            <div class="col-lg-7">
                <div class="p-5">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                    </div>
                    <form class="user" method="POST">
                        <div class="form-group">
                            <input type="text" class="form-control form-control-user" id="exampleFirstName"
                                    placeholder="Username" name="username" value="{{ request.form.username }}">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control form-control-user" id="email" name="email"
                                placeholder="Email Address" value="{{ request.form.email }}">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control form-control-user"
                                    id="password" name="password" placeholder="Password" value="{{ request.form.password }}">
                        </div>
                        <div class="form-group">
                            <label for="teamSelect"> Select a Team</label>
                            <select class="form-control" id="=teamSelect" name="team_id">
                              {% for team in teams %}
                                <option value="{{ team.id }}">{{ team.name }}</option>
                              {% endfor %}
                            </select>
                          </div>
                        <button type="submit" class="btn btn-primary btn-user btn-block">
                            Register Account
                        </button>
                        <hr>
                    </form>
                    <div class="text-center">
                        <a class="small" href="/reset">Forgot Password?</a>
                    </div>
                    <div class="text-center">
                        <a class="small" href="/login">Already have an account? Login!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}