<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-robot"></i>
      </div>
      <div class="sidebar-brand-text mx-3">KC7</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
      <a class="nav-link" href="index.html">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

   
    <!-- Heading -->
    <div class="sidebar-heading">
      Panel 
    </div>

    {% if current_user.has_role('Admin') %}
     <!-- Nav Item - Pages Collapse Menu -->
     <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAdmin" aria-expanded="true" aria-controls="collapseAdmin">
        <i class="fas fa-fw fa-folder"></i>
        <span>Admin Central</span>
      </a>
      <div id="collapseAdmin" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item" href="/admin/manage_game">Manage the Game</a>
          <a class="collapse-item" href="/admin/teams">Manage Teams</a>
          <a class="collapse-item" href="/admin/users">Manage Users</a>
        </div>
      </div>
    </li>
    {% endif %}

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCentral" aria-expanded="true" aria-controls="collapseCentral">
        <i class="fas fa-fw fa-folder"></i>
        <span>Team Central</span>
      </a>
      <div id="collapseCentral" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item" href="/mitigations">Mitigations</a>
          <a class="collapse-item" href="/reports">User Reports</a>
          <a class="collapse-item" href="/upgrades">Upgrades</a>
        </div>
      </div>
    </li>

    <!-- Nav Item - Charts -->
    <li class="nav-item">
      <a class="nav-link" href="/scoreboard">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Score Board</span></a>
    </li>


    <!-- Nav Item - Tables -->
    <li class="nav-item">
      <a class="nav-link" href="/teams">
        <i class="fas fa-fw fa-table"></i>
        <span>Teams</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

  </ul>
  <!-- End of Sidebar -->



  