{% extends "main/base.html" %}
{% block body %}

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Teams</h1>
  </div>

    <!-- Content Row -->
    <div class="row">
        {% for team in teams %}
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">{{ team.name }}</div>
                  <div id="earnings" class="h6 mb-0 text-gray-800">
                        <ol>
                        {% for member in team.members %}
                            <li>{{ member.username }}</li>
                        {% endfor %}
                        </ol>
                  </div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-users fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
     

{% endblock %}
